server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
  web:
    error:
      include-message: always
      include-stacktrace: never

app:
  jwt:
    secret: ${APP_JWT_SECRET}
    accessTokenMinutes: 720
  admin:
    username: admin
    password: admin123



management:
  endpoints:
    web:
      exposure:
        include: health
